@import "base_pc.css";
.warp_page {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.warp_page .maxcen_width {
  width: 1228px;
  margin: 0 auto;
}
.warp_page .creat_pages {
  height: auto;
  cursor: pointer;
  padding-bottom: 100px;
  margin-top: 128px !important;
}
.warp_page .creat_pages .swiper-button-next,
.warp_page .creat_pages .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
.warp_page .creat_pages .swiper-button-prev,
.warp_page .creat_pages .swiper-container-rtl .swiper-button-next {
  background-image: none;
}
.warp_page .creat_pages .swiper-button-next {
  position: absolute;
  width: 48px;
  height: 108px;
  right: -48px;
  z-index: 999999;
  color: #333;
  text-align: center;
  padding-top: 16px;
  background-color: #FFF7F4;
}
.warp_page .creat_pages .swiper-button-prev {
  position: absolute;
  width: 48px;
  height: 108px;
  left: 375px;
  z-index: 888;
  top: 35%;
  color: #333333;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 1px;
  background-color: #FFF7F4;
}
.warp_page .creat_pages .button_my:hover {
  color: #fff;
  background-color: #FF530B;
}
.warp_page .creat_pages .creat_title {
  width: 100%;
  padding: 15px 20px;
  background-color: #FFF7F4;
}
.warp_page .creat_pages .creat_title h3 {
  font-size: 32px;
  line-height: 45px;
  color: #181818;
  font-weight: 800;
}
.warp_page .creat_pages .creat_title .describe_text {
  font-size: 16px;
  line-height: 22px;
  color: #999;
}
.warp_page .creat_pages .creat_modu {
  padding: 20px;
  position: relative;
}
.warp_page .creat_pages .creat_center {
  float: left;
  height: 667px;
  width: 375px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.warp_page .creat_pages .creat_center .creat_content {
  height: 667px;
  width: 375px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container {
  height: 667px;
  width: 375px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_pro {
  padding: 15px 15px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_pro .list::before {
  content: "时间";
  font-size: 14px;
  color: #333333;
  position: relative;
  z-index: 555;
  line-height: 25px;
  background-image: url("../images/pub/time_3.png");
  background-size: 16px 16px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_add {
  padding: 15px 15px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_add .list::before {
  content: "地点";
  font-size: 14px;
  color: #333333;
  position: relative;
  z-index: 555;
  line-height: 25px;
  background-image: url("../images/pub/add.png");
  background-size: 16px 16px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_tell {
  padding: 15px 15px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .mess_tell .list::before {
  content: "咨询电话";
  font-size: 14px;
  color: #333333;
  position: relative;
  z-index: 555;
  line-height: 25px;
  background-image: url("../images/pub/tell.png");
  background-size: 16px 16px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .time_num {
  font-size: 12px;
  line-height: 20px;
  color: #333;
  padding: 0 15px 15px 25px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .baby_name {
  position: relative;
  padding: 42px 0 11px;
  border-bottom: 1px solid #e6e6e6;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .baby_name .baby_input {
  display: block;
  width: 70%;
  height: 32px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .baby_name .baby_la {
  height: 32px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .baby_name .obtain_code {
  display: block;
  color: #fff;
  width: 95px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  background-color: #0099FF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container ::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container ::-moz-placeholder {
  color: #999999;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container :-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container input:-moz-placeholder {
  color: #999999;
  font-size: 14px;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .sub_btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #999999;
  font-size: 16px;
  text-align: center;
  background-color: #F3F3F3;
  -webkit-border-radius: 50px 50px;
  -moz-border-radius: 50px 50px;
  -ms-border-radius: 50px 50px;
  -o-border-radius: 50px 50px;
  border-radius: 50px 50px;
  margin: 15px auto 0;
}
.warp_page .creat_pages .creat_center .creat_content .swiper-container .look_intr {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: #0099FF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify {
  float: left;
  width: 685px;
  margin-left: 128px;
  /* firefox 19+ */
  /* ie */
}
.warp_page .creat_pages .creat_modify .perfect {
  padding: 0 0 16px 0;
  font-size: 18px;
  line-height: 25px;
  color: #FF530B;
  font-weight: bold;
}
.warp_page .creat_pages .creat_modify ::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
}
.warp_page .creat_pages .creat_modify ::-moz-placeholder {
  color: #999;
  font-size: 16px;
}
.warp_page .creat_pages .creat_modify :-ms-input-placeholder {
  color: #999;
  font-size: 16px;
}
.warp_page .creat_pages .creat_modify input:-moz-placeholder {
  color: #999;
  font-size: 16px;
}
.warp_page .creat_pages .creat_modify textarea:-moz-placeholder {
  color: #999;
  font-size: 16px;
}
.warp_page .creat_pages .creat_modify .kinder_name {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.warp_page .creat_pages .creat_modify .kinder_name label {
  width: 98px;
  display: block;
  float: left;
  line-height: 38px;
}
.warp_page .creat_pages .creat_modify .kinder_name .name_input {
  float: left;
  width: 579px;
  height: 38px;
  font-size: 16px;
  padding: 0 10px;
  margin-left: 7px;
  color: #333;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify .kinder_name .render_intr {
  float: left;
  width: 579px;
  min-height: 110px;
  font-size: 16px;
  padding: 10px;
  margin-left: 7px;
  color: #333;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify .look_exam {
  display: block;
  text-align: right;
  font-size: 12px;
  line-height: 17px;
  color: #0099FF;
  text-decoration: underline;
}
.warp_page .creat_pages .creat_modify .line_bor {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  border-top: 1px solid #EEEEEE;
}
.warp_page .creat_pages .creat_modify .activity_time {
  margin-bottom: 20px;
}
.warp_page .creat_pages .creat_modify .activity_time .time_tit {
  font-size: 16px;
  color: #333;
  width: 98px;
  display: block;
  float: left;
  line-height: 38px;
}
.warp_page .creat_pages .creat_modify .activity_time .layui-form-item,
.warp_page .creat_pages .creat_modify .activity_time .layui-inline {
  margin: 0 !important;
}
.warp_page .creat_pages .creat_modify .activity_time .time_choice {
  width: 500px;
  height: 38px;
}
.warp_page .creat_pages .creat_modify .activity_time .time_choice #time_year {
  width: 579px;
  height: 38px;
  font-size: 16px;
  padding: 0 10px;
  margin-left: 7px;
  color: #333;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify .activity_time .item {
  width: 160px;
  height: 50px;
}
.warp_page .creat_pages .creat_modify .city_div1 {
  font-size: 16px;
  position: relative;
  color: #333;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick_span {
  width: 98px;
  display: block;
  float: left;
  line-height: 38px;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-area {
  float: left;
  width: 579px;
  height: 38px;
  font-size: 16px;
  padding: 0 10px 0 2px;
  margin-left: 7px;
  color: #333;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show {
  width: 100%;
  position: relative;
  padding: 0 8px;
  height: 38px;
  line-height: 38px;
  border-radius: 3px;
  padding-left: 0 !important;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show span {
  float: left;
  display: inline-block;
  max-width: 200px !important;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  cursor: pointer;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show span:hover {
  color: #fff !important;
  border-radius: 3px;
  background: #ff530b !important;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show span.pressActive {
  background: #ff530b !important;
  color: #fff !important;
  border-radius: 3px;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show em.pick-arrow {
  display: none !important;
  position: absolute;
  top: 14px;
  right: 8px;
  display: block;
  border: 8px solid #999;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-show i {
  float: left;
  display: inline-block;
  padding: 0 3px;
  color: #888;
  font-style: normal;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-list {
  display: none;
  width: 280px;
  position: absolute;
  line-height: 36px;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 999999999;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #dedede;
  border-top: none;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-list li {
  margin: 0;
  padding-left: 8px;
  list-style: none;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.warp_page .creat_pages .creat_modify .city_div1 .pick-list li:hover {
  color: #FD530B;
  font-weight: bold;
}
.warp_page .creat_pages .creat_modify .submit_btn {
  display: block;
  width: 222px;
  height: 54px;
  font-size: 20px;
  margin-top: 47px;
  color: #FFFFFF;
  line-height: 54px;
  text-align: center;
  background-color: #FF530B;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.warp_page .creat_pages .creat_modify .activity_lab {
  width: 100%;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_tit {
  padding-bottom: 15px;
  font-size: 16px;
  color: #181818;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_tit p {
  color: #888;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pubbtn {
  padding-top: 15px;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pubbtn .gray_btn {
  float: left;
  width: 104px;
  font-size: 12px;
  color: #888;
  padding: 4px 0;
  text-align: center;
  margin: 0 12px 16px 0;
  border-radius: 100px;
  border: 1px solid #888;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pubbtn .orange_btn {
  float: left;
  width: 104px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  margin: 0 12px 16px 0;
  background: #FF530B;
  border-radius: 100px;
  border: 1px solid #FF530B;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pribtn {
  padding: 15px 0 25px;
  border-bottom: 1px solid #888;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pribtn .gray_btn {
  float: left;
  width: 104px;
  font-size: 12px;
  color: #888;
  padding: 4px 0;
  text-align: center;
  margin: 0 12px 16px 0;
  border-radius: 100px;
  border: 1px solid #888;
}
.warp_page .creat_pages .creat_modify .activity_lab .lab_pribtn .orange_btn {
  float: left;
  width: 104px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  margin: 0 12px 16px 0;
  background: #FF530B;
  border-radius: 100px;
  border: 1px solid #FF530B;
}
.warp_page .creat_pages .creat_modify .sub_btn {
  padding-top: 50px;
  position: absolute;
  right: 30px;
}
.warp_page .creat_pages .creat_modify .sub_btn a {
  display: block;
  width: 124px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #181818;
  border-radius: 25px;
  margin-left: 30px;
}
