@import "base_pc.css";
.warp_page {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.warp_page .maxcen_width {
  width: 1228px;
  margin: 0 auto;
}
.warp_page .creat_pages {
  height: auto;
  cursor: pointer;
  padding-bottom: 100px;
  margin-top: 128px !important;
  background-color: #44db5e;
}
.warp_page .creat_pages .creat_title {
  width: 100%;
  padding: 15px 20px;
  background-color: #FFF7F4;
}
.warp_page .creat_pages .creat_title h3 {
  font-size: 32px;
  line-height: 45px;
  color: #181818;
  font-weight: 800;
}
.warp_page .creat_pages .creat_title .describe_text {
  font-size: 16px;
  line-height: 22px;
  color: #999;
}
.warp_page .creat_pages .creat_modu {
  margin-top: 20px;
  position: relative;
  min-height: 700px;
  background-color: #DDDDDD;
}
.warp_page .creat_pages .creat_modu .creat_left {
  width: 340px;
  height: auto;
  padding: 20px;
}
.warp_page .creat_pages .creat_modu .creat_left .pages_title {
  width: 100%;
  height: 54px;
  font-size: 18px;
  line-height: 54px;
  color: #181818;
  text-align: center;
  background-color: #fff;
}
.warp_page .creat_pages .creat_modu .creat_left .craet_nav {
  width: 100%;
}
.warp_page .creat_pages .creat_modu .creat_left .craet_nav .nav_li {
  width: 100%;
  margin-bottom: 4px;
}
