@import "base_pc.css";
::-webkit-input-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #888;
}
/* ie */
input:-moz-placeholder {
  color: #888;
}
.warp_page {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.warp_page .center_width {
  width: 1002px !important;
  margin: 0 auto;
}
.warp_page .maxcen_width {
  width: 1228px;
  margin: 0 auto;
}
.warp_page .home_nav {
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  z-index: 9999999;
  background-color: #fff;
  min-width: 1228px;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .home_nav .home_header .logo_img {
  float: left;
  width: 132px;
  margin: 18px 0;
  cursor: pointer;
}
.warp_page .home_nav .home_header .hover_ani {
  float: left;
  margin-left: 61px;
  position: relative;
}
.warp_page .home_nav .home_header .hover_ani .span_dec {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100px;
  height: 4px;
  background: #ff530b;
}
.warp_page .home_nav .home_header .hover_ani ul {
  position: relative;
  height: 88px;
}
.warp_page .home_nav .home_header .hover_ani ul li {
  height: 88px;
  padding: 42px 0 0;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
}
.warp_page .home_nav .home_header .hover_ani ul li .nav_list {
  display: block;
  cursor: pointer;
  color: #181818;
}
.warp_page .home_nav .home_header .hover_ani ul li .active_org {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .home_nav .home_header .hover_ani ul li .nav_list:hover {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .home_nav .home_header .home_sing {
  float: right;
  display: block;
  width: 166px;
  height: 88px;
  font-size: 16px;
  color: #181818;
  text-align: center;
  padding: 44px 0 0;
}
.warp_page .home_nav .home_header .sing_nostyle {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.warp_page .home_nav .home_header .sing_nostyle .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .home_nav .home_header .sing_nostyle .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .home_nav .home_header .sing_nostyle .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess {
  display: none;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .home_nav .home_header .sing_nostyle .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess {
  display: block;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .home_nav .home_header .sing_nostyle:hover .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .active_sing {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.warp_page .home_nav .home_header .active_sing .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .home_nav .home_header .active_sing .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .home_nav .home_header .active_sing .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .home_nav .home_header .active_sing .hover_mess {
  display: block;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .home_nav .home_header .active_sing .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .activity_nav {
  width: 100%;
  height: 88px;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .activity_nav .activity_title {
  height: 88px;
}
.warp_page .activity_nav .activity_title .logo_img {
  float: left;
  width: 132px;
  margin: 18px 0;
}
.warp_page .activity_nav .activity_title .activity_name {
  color: #181818;
  text-align: center;
  line-height: 88px;
  font-size: 24px;
}
.warp_page .tab_nav {
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  z-index: 9999999;
  background-color: #fff;
  min-width: 1228px;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .tab_nav .home_header .logo_img {
  float: left;
  width: 132px;
  margin: 18px 0;
  cursor: pointer;
}
.warp_page .tab_nav .home_header .hover_ani {
  float: left;
  margin-left: 61px;
  position: relative;
}
.warp_page .tab_nav .home_header .hover_ani .span_dec {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100px;
  height: 4px;
  background: #ff530b;
}
.warp_page .tab_nav .home_header .hover_ani ul {
  position: relative;
  height: 88px;
}
.warp_page .tab_nav .home_header .hover_ani ul li {
  height: 88px;
  padding: 42px 0 0;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
}
.warp_page .tab_nav .home_header .hover_ani ul li .nav_list {
  display: block;
  cursor: pointer;
  color: #181818;
}
.warp_page .tab_nav .home_header .hover_ani ul li .active_org {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .tab_nav .home_header .hover_ani ul li .nav_list:hover {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .abso_nav {
  width: 100%;
  height: 88px;
  background-color: #fff;
  min-width: 1228px;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .abso_nav .home_header {
  position: relative;
}
.warp_page .abso_nav .home_header .logo_img {
  float: left;
  width: 132px;
  margin: 18px 0;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .hover_ani {
  float: left;
  margin-left: 61px;
  position: relative;
}
.warp_page .abso_nav .home_header .hover_ani .span_dec {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100px;
  height: 4px;
  background: #ff530b;
}
.warp_page .abso_nav .home_header .hover_ani ul {
  position: relative;
  height: 88px;
}
.warp_page .abso_nav .home_header .hover_ani ul li {
  height: 88px;
  padding: 42px 0 0;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
}
.warp_page .abso_nav .home_header .hover_ani ul li .nav_list {
  display: block;
  cursor: pointer;
  color: #181818;
}
.warp_page .abso_nav .home_header .hover_ani ul li .active_org {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .abso_nav .home_header .hover_ani ul li .nav_list:hover {
  display: block;
  cursor: pointer;
  color: #ff530b;
}
.warp_page .abso_nav .home_header .home_sing {
  float: right;
  display: block;
  width: 166px;
  height: 88px;
  font-size: 16px;
  color: #181818;
  text-align: center;
  padding: 44px 0 0;
}
.warp_page .abso_nav .home_header .sing_nostyle {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.warp_page .abso_nav .home_header .sing_nostyle .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .sing_nostyle .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .abso_nav .home_header .sing_nostyle .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess {
  display: none;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .sing_nostyle .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 666;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess {
  display: block;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .sing_nostyle:hover .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .active_sing {
  width: 224px;
  float: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 666;
}
.warp_page .abso_nav .home_header .active_sing .name_sco {
  width: 208px;
  float: right;
  font-size: 16px;
  text-align: left;
  height: 88px;
  line-height: 88px;
  color: #FF530B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 59px;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .active_sing .szimg {
  float: right;
  width: 15px;
  margin-top: 36.5px;
}
.warp_page .abso_nav .home_header .active_sing .sco_icon {
  position: absolute;
  left: 5px;
  top: 21.5px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess {
  display: block;
  line-height: normal;
  width: 224px;
  padding: 0 27px;
  margin-top: 88px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ {
  padding: 11px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ h4 {
  height: 25px;
  font-size: 16px;
  color: #888888;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ .navarr {
  margin-top: 5.5px;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ .activ_tit {
  background: url("../images/icon/acti_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ .num_tit {
  background: url("../images/icon/num_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ .back_tit {
  background: url("../images/icon/back_icon.png") no-repeat left 1px;
  background-size: 20px 20px;
  padding-left: 34px;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ p {
  font-size: 12px;
  color: #888888;
  line-height: 20px;
  margin: 4px 0;
  padding-left: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .mess_activ .no_binding {
  color: #F72222;
  cursor: pointer;
}
.warp_page .abso_nav .home_header .active_sing .hover_mess .sign_out {
  display: block;
  color: #0099FF;
  font-size: 16px;
  padding: 12px 0 22px 34px;
  background: url("../images/icon/exit.png") no-repeat left 12px;
  background-size: 20px 20px;
  padding-left: 34px;
}
