@import "base_pc.css";
.warp_page {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.btn-toolbar {
  position: fixed;
  display: none;
  z-index: 999999999999;
  top: 260px;
  right: 120px;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  height: 48px;
  padding: 12px;
}
.btn-toolbar .btn-group {
  border: 0;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px !important;
  margin: 0;
  float: left;
  height: 24px;
}
.btn-toolbar .btn-group .dropup {
  position: relative;
}
.btn-toolbar .text-btn-border {
  height: 24px;
  position: relative;
  text-align: left;
  line-height: 24px;
  color: #666;
  font-size: 20px;
  background: url("../images/pub/size_icon.png") no-repeat left center;
  background-size: 24px 26px;
  padding-left: 36px;
  background-color: #fff;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #76838f;
  white-space: nowrap;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.btn-group ul li a {
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
}
.intersected div img,
.intersected div div {
  border: 2px dashed #0099FF;
}
.drag_img div img,
.drag_text div div {
  border: 2px dashed #0099FF;
}
.pro_bor div img,
.pro_bor div div {
  border: none !important;
}
.render_share {
  border: 2px dashed rgba(255, 255, 255, 0);
}
.render_share:hover {
  border: 2px dashed #0099FF;
}
i.hander {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
