@import "base_mob.css";
.datermine {
  display: none;
  max-width: 540px;
  margin: 0 auto;
  width: 9.2rem;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  z-index: 99999999;
  padding: 5.01333333rem 0.74666667rem 5.54666667rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.datermine .mine_text {
  text-align: center;
  font-size: 0.48rem;
  line-height: 0.66666667rem;
  color: #fff;
  padding: 0 0 0.8rem;
}
.datermine .mine_ul {
  width: 100%;
}
.datermine .mine_ul li {
  float: left;
  width: 50%;
}
.datermine .mine_ul .sure_btn {
  display: block;
  margin: 0 auto;
  width: 2.82666667rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  color: #fff;
  text-align: center;
  font-size: 0.37333333rem;
  border: 1px solid #fff;
  -webkit-border-radius: 0.45333333rem 0.45333333rem;
  -moz-border-radius: 0.45333333rem 0.45333333rem;
  -ms-border-radius: 0.45333333rem 0.45333333rem;
  -o-border-radius: 0.45333333rem 0.45333333rem;
  border-radius: 0.45333333rem 0.45333333rem;
}
.warp_creat {
  width: 100%;
  height: 100%;
  max-width: 540px;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.warp_creat .play {
  position: fixed;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 555;
  width: 1.06666667rem !important;
  height: 1.06666667rem !important;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.warp_creat .play img {
  display: block;
  width: 0.61866667rem;
  margin: 0.25066667rem auto;
  position: relative;
  z-index: 333;
}
.warp_creat .pause {
  position: fixed;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 555;
  width: 1.06666667rem !important;
  height: 1.06666667rem !important;
  display: block !important;
  margin: 0 auto !important;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -ms-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}
.warp_creat .pause img {
  display: block;
  width: 0.61866667rem;
  margin: 0.25066667rem auto;
  position: relative;
  z-index: 333;
}
.warp_creat .sendBtn {
  position: fixed;
  top: 0.4rem;
  left: 0.4rem;
  z-index: 555;
  max-width: 540px;
}
.warp_creat .sendBtn img {
  display: block;
  width: 100%;
  width: 1.6rem !important;
  position: relative;
  z-index: 333;
}
.warp_creat .editBtn {
  position: fixed;
  top: 1.54666667rem;
  right: 2.08rem;
  z-index: 555;
  max-width: 540px;
}
.warp_creat .editBtn img {
  display: block;
  width: 100%;
  width: 1.12rem;
  height: 1.12rem;
  position: relative;
  z-index: 333;
}
.warp_creat .slide_footer {
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 999999;
  bottom: 0;
  height: 1.44rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.02666667rem 0 0 #dddddd;
}
.warp_creat .slide_footer .footer_ul {
  width: 100%;
  height: 100%;
}
.warp_creat .slide_footer .footer_ul .silde_nav {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}
.warp_creat .slide_footer .footer_ul .intr_nav {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .footer_ul .intr_nav a {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 0.02666667rem solid #999999;
}
.warp_creat .slide_footer .footer_ul .buy_nav {
  padding: 0.16rem 0;
}
.warp_creat .slide_footer .footer_ul .buy_nav a {
  display: block;
  width: 3.41333333rem;
  height: 1.12rem;
  margin: 0 auto;
  color: #fff;
  line-height: 1.12rem;
  font-size: 0.37333333rem;
  font-weight: 800;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  background-color: #FF4539;
}
.warp_creat .slide_footer .footer_ul .free_nav {
  padding: 0.16rem 0;
}
.warp_creat .slide_footer .footer_ul .free_nav a {
  display: block;
  width: 2.66666667rem;
  height: 1.12rem;
  margin: 0 auto;
  color: #fff;
  line-height: 1.12rem;
  font-size: 0.37333333rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  font-weight: 800;
  background-color: #0099FF;
}
.warp_creat .slide_footer .pro_ul {
  width: 100%;
  height: 100%;
}
.warp_creat .slide_footer .pro_ul .silde_nav {
  float: left;
  width: 33.33%;
  height: 100%;
  text-align: center;
}
.warp_creat .slide_footer .pro_ul .pro_nav {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .pro_ul .pro_nav a {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 0.02666667rem solid #999999;
}
.warp_creat .slide_footer .pro_ul .prew_nav {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .pro_ul .prew_nav a {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 0.02666667rem solid #999999;
}
.warp_creat .slide_footer .pro_ul .send_nav {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .pro_ul .send_nav a {
  display: block;
  color: #0099FF;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
}
.warp_creat .slide_footer .pro_ul .send_navgray {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .pro_ul .send_navgray a {
  display: block;
  color: #DDDDDD;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
}
.warp_creat .slide_footer .creat_ul {
  width: 100%;
  height: 100%;
}
.warp_creat .slide_footer .creat_ul .silde_nav {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}
.warp_creat .slide_footer .creat_ul .intr_nav {
  padding: 0.45333333rem 0;
}
.warp_creat .slide_footer .creat_ul .intr_nav a {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 0.02666667rem solid #999999;
}
.warp_creat .slide_footer .creat_ul .creat_nav {
  padding: 0.45333333rem 0;
  background-color: #fff;
}
.warp_creat .slide_footer .creat_ul .creat_nav a {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
}
.warp_creat .myswiper-container {
  width: 100%;
}
.warp_creat .myswiper-container .swiper-wrapper {
  width: 100%;
}
.warp_creat .creat_page {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.warp_creat .creat_page .pub_home {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}
.warp_creat .creat_page .pub_home .home_div {
  height: 4.16rem;
  margin: 0 auto 0;
  font-size: 0.53333333rem;
  line-height: 0.69333333rem;
  color: #181818;
  padding: 2.4rem 0.38666667rem 0 1.86666667rem;
  position: relative;
  z-index: 450;
}
.warp_creat .creat_page .pub_home .home_div :nth-child(1) {
  font-size: 0.58666667rem;
  color: #181818;
  line-height: 0.69333333rem;
  font-weight: 800;
}
.warp_creat .creat_page .pub_home .home_divwhite {
  height: 4.16rem;
  margin: 0 auto 0;
  font-size: 0.53333333rem;
  line-height: 0.69333333rem;
  color: #fff;
  padding: 2.4rem 0.38666667rem 0 1.86666667rem;
  position: relative;
  z-index: 450;
}
.warp_creat .creat_page .pub_home .home_divwhite :nth-child(1) {
  font-size: 0.58666667rem;
  color: #fff;
  line-height: 0.69333333rem;
  font-weight: 800;
}
.warp_creat .creat_page .pub_home .note {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 444;
}
.warp_creat .creat_page .pub_home .footer_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 333;
}
.warp_creat .creat_page .pub_home .footerz_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 444;
}
.warp_creat .creat_page .pub_home .render_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 334;
}
.warp_creat .creat_page .pub_home .theme_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 443;
}
.warp_creat .creat_page .pub_home .themebot_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 443;
}
.warp_creat .creat_page .pub_home .arrow_right {
  display: block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  position: absolute;
  left: 50%;
  bottom: 0.66666667rem;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  z-index: 999999;
  opacity: .8;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: arrow_top 1.5s infinite ease-in-out;
  -moz-animation: arrow_top 1.5s infinite ease-in-out;
  -ms-animation: arrow_top 1.5s infinite ease-in-out;
  -o-animation: arrow_top 1.5s infinite ease-in-out;
  animation: arrow_top 1.5s infinite ease-in-out;
}
.warp_creat .creat_page .pub_invi {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}
.warp_creat .creat_page .pub_invi .footer_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 335;
}
.warp_creat .creat_page .pub_invi .title_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 337;
}
.warp_creat .creat_page .pub_invi .theme2_img {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 337;
}
.warp_creat .creat_page .pub_invi .theme3_img {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 333;
}
.warp_creat .creat_page .pub_invi .render2_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 336;
}
.warp_creat .creat_page .pub_invi .renderzin_img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 339;
}
.warp_creat .creat_page .pub_invi .invi_title {
  font-size: 0.37333333rem;
  text-align: center;
  color: #fff;
  padding: 1.6rem 0.4rem 0;
  position: relative;
  z-index: 444;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_invi .invi_titleblack {
  font-size: 0.37333333rem;
  text-align: center;
  color: #181818;
  padding: 1.6rem 0.4rem 0;
  position: relative;
  z-index: 444;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_invi .invi_goose {
  font-size: 0.37333333rem;
  text-align: center;
  color: #7F6038;
  padding: 1.6rem 0.4rem 0;
  position: relative;
  z-index: 444;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
}
.warp_creat .creat_page .pub_intr .ride_list {
  padding: 1.6rem 0 1.12rem;
  position: relative;
  z-index: 5555;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad {
  padding: 0 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .pad_title {
  font-size: 0.37333333rem;
  color: #fff;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .pad_title :nth-child(1) {
  font-size: 0.53333333rem;
  color: #fff;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsma {
  font-size: 0.37333333rem;
  color: #fff;
  text-align: center;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsma :nth-child(1) {
  font-size: 0.37333333rem;
  color: #fff;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsmaleft {
  font-size: 0.37333333rem;
  color: #fff;
  text-align: left;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsmaleft :nth-child(1) {
  font-size: 0.37333333rem;
  color: #fff;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsmacol {
  font-size: 0.37333333rem;
  color: #181818;
  text-align: left;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_padsmacol :nth-child(1) {
  font-size: 0.37333333rem;
  color: #181818;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_topcolor {
  font-size: 0.37333333rem;
  color: #5F5B32;
  text-align: left;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_topcolor :nth-child(1) {
  font-size: 0.37333333rem;
  color: #5F5B32;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_snake {
  font-size: 0.37333333rem;
  color: #7A6643;
  text-align: left;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_snake :nth-child(1) {
  font-size: 0.37333333rem;
  color: #7A6643;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_thow {
  font-size: 0.37333333rem;
  color: #2F6127;
  text-align: left;
  line-height: 0.53333333rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .intr_thow :nth-child(1) {
  font-size: 0.37333333rem;
  color: #2F6127;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_pad .illu {
  display: block;
  width: 100%;
  height: 3.73333333rem;
  margin: 0.13333333rem 0;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_top {
  margin-top: -0.8rem;
}
.warp_creat .creat_page .pub_intr .ride_list .intr_martop {
  margin-top: 0.8rem !important;
}
.warp_creat .creat_page .pub_intr .snowfooter_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 222;
}
.warp_creat .creat_page .my_mess {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.warp_creat .pub_mess {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  padding: 0 0.32rem 0.53333333rem;
}
.warp_creat .pub_mess .mess_title {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #fff;
  line-height: 0.74666667rem;
}
.warp_creat .pub_mess .mess_title span {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.34666667rem;
}
.warp_creat .pub_mess .mess_titleblack {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #181818;
  line-height: 0.74666667rem;
}
.warp_creat .pub_mess .mess_titleblack span {
  font-size: 0.24rem;
  color: #181818;
  line-height: 0.34666667rem;
}
.warp_creat .pub_mess .mess_titlesnake {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #7A6643;
  line-height: 0.74666667rem;
}
.warp_creat .pub_mess .mess_titlesnake span {
  font-size: 0.24rem;
  color: #7A6643;
  line-height: 0.34666667rem;
}
.warp_creat .pub_mess .mess_titlethow {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #2F6127;
  line-height: 0.74666667rem;
}
.warp_creat .pub_mess .mess_titlethow span {
  font-size: 0.24rem;
  color: #2F6127;
  line-height: 0.34666667rem;
}
.warp_creat .pub_mess .mess_list {
  width: 100%;
}
.warp_creat .pub_mess .mess_list li {
  width: 100%;
  background: #FFF;
  border-radius: 0.21333333rem;
  margin-bottom: 0.21333333rem;
}
.warp_creat .pub_mess .mess_list li .list {
  width: 100%;
  padding: 0.29333333rem 0.42666667rem 0.37333333rem;
}
.warp_creat .pub_mess .mess_list li .list .timeimg {
  width: 0.56rem;
  height: 0.56rem;
}
.warp_creat .pub_mess .mess_list li .list .mess_time {
  font-size: 0.34666667rem;
  color: #898989;
  position: relative;
  z-index: 555;
  line-height: 0.56rem;
  padding-left: 0.32rem;
}
.warp_creat .pub_mess .mess_list li .list .mess_time span {
  font-size: 0.24rem;
  color: #898989;
}
.warp_creat .pub_mess .mess_list li .list .mess_address {
  width: 0.50666667rem;
  height: 0.61333333rem;
}
.warp_creat .pub_mess .mess_list li .time_num {
  font-size: 0.34666667rem;
  color: #181818;
  padding: 0 0.45333333rem 0.37333333rem 1.33333333rem;
}
.warp_creat .pub_mess .mess_bot {
  font-size: 0.32rem;
  color: #ffffff;
  line-height: 0.45333333rem;
  padding: 2rem 0.74666667rem 0 0.42666667rem;
}
.warp_creat .pub_mess .mess_bot .bot_span {
  color: #fff;
  font-size: 0.37333333rem;
}
.warp_creat .pub_mess .mess_bot .bot_span p {
  display: inherit;
}
.warp_creat .pub_mess .mess_botblack {
  font-size: 0.32rem;
  color: #181818;
  line-height: 0.45333333rem;
  padding: 2rem 0.74666667rem 0 0.42666667rem;
}
.warp_creat .pub_mess .mess_botblack .bot_span {
  color: #181818;
  font-size: 0.37333333rem;
}
.warp_creat .pub_mess .mess_botblack .bot_span p {
  display: inherit;
}
.warp_creat .pub_mess .mess_botsnake {
  font-size: 0.32rem;
  color: #7A6643;
  line-height: 0.45333333rem;
  padding: 2rem 0.74666667rem 0 0.42666667rem;
}
.warp_creat .pub_mess .mess_botsnake .bot_span {
  color: #7A6643;
  font-size: 0.37333333rem;
}
.warp_creat .pub_mess .mess_botsnake .bot_span p {
  display: inherit;
}
.warp_creat .pub_mess .mess_botthow {
  font-size: 0.32rem;
  color: #2F6127;
  line-height: 0.45333333rem;
  padding: 2rem 0.74666667rem 0 0.42666667rem;
}
.warp_creat .pub_mess .mess_botthow .bot_span {
  color: #2F6127;
  font-size: 0.37333333rem;
}
.warp_creat .pub_mess .mess_botthow .bot_span p {
  display: inherit;
}
.warp_creat .pub_user {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  padding: 0 0.32rem 0.53333333rem;
}
.warp_creat .pub_user .mess_title {
  padding: 1.6rem 0.42666667rem 0.29333333rem;
  font-size: 0.53333333rem;
  color: #fff;
  line-height: 0.74666667rem;
}
.warp_creat .pub_user .mess_title span {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.34666667rem;
}
.warp_creat .pub_user .mess_titleblack {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #181818;
  line-height: 0.74666667rem;
}
.warp_creat .pub_user .mess_titleblack span {
  font-size: 0.24rem;
  color: #181818;
  line-height: 0.34666667rem;
}
.warp_creat .pub_user .mess_titlesnake {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #7A6643;
  line-height: 0.74666667rem;
}
.warp_creat .pub_user .mess_titlesnake span {
  font-size: 0.24rem;
  color: #7A6643;
  line-height: 0.34666667rem;
}
.warp_creat .pub_user .mess_titlethow {
  padding: 1.6rem 0.42666667rem 0.34666667rem;
  font-size: 0.53333333rem;
  color: #2F6127;
  line-height: 0.74666667rem;
}
.warp_creat .pub_user .mess_titlethow span {
  font-size: 0.24rem;
  color: #2F6127;
  line-height: 0.34666667rem;
}
.warp_creat .pub_user .mess_list {
  background: #fff;
  border-radius: 0.21333333rem;
  padding: 0.26666667rem 0.42666667rem 1.12rem;
}
.warp_creat .pub_user .mess_list .baby_name {
  padding-top: 0.37333333rem;
}
.warp_creat .pub_user .mess_list .baby_name .baby {
  font-size: 0.42666667rem;
  margin-bottom: 0.26666667rem;
  color: #898989;
}
.warp_creat .pub_user .mess_list .baby_name .baby_input {
  display: block;
  width: 100%;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  color: #181818;
  font-size: 0.34666667rem;
  padding-bottom: 0.24rem;
  border-bottom: 1px solid #e6e6e6;
}
.warp_creat .pub_user .mess_list ::-webkit-input-placeholder {
  color: #898989;
  font-size: 0.32rem;
}
.warp_creat .pub_user .mess_list ::-moz-placeholder {
  color: #898989;
  font-size: 0.32rem;
}
.warp_creat .pub_user .mess_list :-ms-input-placeholder {
  color: #898989;
  font-size: 0.32rem;
}
.warp_creat .pub_user .mess_list input:-moz-placeholder {
  color: #898989;
  font-size: 0.32rem;
}
.warp_creat .pub_user .mess_list .tell_num {
  width: 100%;
  position: relative;
  padding: 0.37333333rem 0;
  border-bottom: 1px solid #e6e6e6;
}
.warp_creat .pub_user .mess_list .tell_num .baby_input {
  display: block;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  color: #181818;
  font-size: 0.34666667rem;
}
.warp_creat .pub_user .mess_list .tell_num .obtain_code {
  display: block;
  color: #fff;
  width: 3.17333333rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  padding: 0 0.29333333rem;
  font-size: 0.26666667rem;
  background-color: #02b8fa;
  border-radius: 2.66666667rem;
  position: absolute;
  right: 0;
  bottom: 0.37333333rem;
}
.warp_creat .pub_user .mess_list .cord_error {
  font-size: 0.32rem;
  color: #ff1313;
  line-height: 0.45333333rem;
  text-align: right;
  padding-top: 0.18666667rem;
}
.warp_creat .pub_user .sub_btn {
  display: block;
  width: 100%;
  height: 1.25333333rem;
  line-height: 1.25333333rem;
  color: #181818;
  font-size: 0.48rem;
  text-align: center;
  background: #FFFFFF;
  -webkit-border-radius: 0.62666667rem;
  -moz-border-radius: 0.62666667rem;
  -ms-border-radius: 0.62666667rem;
  -o-border-radius: 0.62666667rem;
  border-radius: 0.62666667rem;
  margin: 0.21333333rem auto 0;
}
.warp_creat .pub_user .arrow_left {
  display: block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  position: absolute;
  left: 50%;
  bottom: 0.66666667rem;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  z-index: 99;
  opacity: .8;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: arrow_bot 1.5s infinite ease-in-out;
  -moz-animation: arrow_bot 1.5s infinite ease-in-out;
  -ms-animation: arrow_bot 1.5s infinite ease-in-out;
  -o-animation: arrow_bot 1.5s infinite ease-in-out;
  animation: arrow_bot 1.5s infinite ease-in-out;
}
.warp_creat .activity_intr {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #fff;
}
.warp_creat .activity_intr .arrbot {
  padding: 0.4rem 0;
  background-color: #F3F3F3;
}
.warp_creat .activity_intr .arrbot img {
  display: block;
  width: 0.90666667rem;
  margin: 0 auto;
  -webkit-animation: arrow_top 0.8s infinite ease-in-out !important;
  -moz-animation: arrow_top 0.8s infinite ease-in-out !important;
  -ms-animation: arrow_top 0.8s infinite ease-in-out !important;
  -o-animation: arrow_top 0.8s infinite ease-in-out !important;
  animation: arrow_top 0.8s infinite ease-in-out !important;
}
.warp_creat .activity_intr .line_back {
  width: 100%;
  height: 0.26666667rem;
  background-color: #F3F3F3;
}
.warp_creat .activity_intr .intr_mess {
  width: 100%;
  padding: 0.53333333rem 0.4rem;
}
.warp_creat .activity_intr .intr_mess .modu_img {
  width: 2.58666667rem;
  height: 4.53333333rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt {
  width: 70%;
  padding: 0.26666667rem 0 0 0.26666667rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt .rec_title {
  font-size: 0.42666667rem;
  line-height: 0.66666667rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0.16rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt .activi_btn {
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.45333333rem;
  background-color: #FF4539;
  padding: 0.05333333rem 0.21333333rem;
  -webkit-border-radius: 1.33333333rem 1.33333333rem;
  -moz-border-radius: 1.33333333rem 1.33333333rem;
  -ms-border-radius: 1.33333333rem 1.33333333rem;
  -o-border-radius: 1.33333333rem 1.33333333rem;
  border-radius: 1.33333333rem 1.33333333rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt .activ_text {
  font-size: 0.37333333rem;
  line-height: 0.45333333rem;
  color: #999;
  padding: 0.26666667rem 0 0.16rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt .activ_txt {
  font-size: 0.37333333rem;
  line-height: 0.45333333rem;
  color: #999;
  padding-bottom: 1.49333333rem;
}
.warp_creat .activity_intr .intr_mess .mess_txt .moeny_text {
  font-size: 0.58666667rem;
  line-height: 0.8rem;
  color: #333;
  font-weight: 800;
}
.warp_creat .activity_intr .intr_mess .mess_txt .moeny_del {
  font-size: 0.58666667rem;
  line-height: 0.8rem;
  color: #999;
  font-weight: 800;
}
.warp_creat .activity_intr .intr_mess .mess_txt .free_text {
  font-size: 0.48rem;
  line-height: 0.66666667rem;
  color: #FF4539;
}
.warp_creat .activity_intr .intr_list {
  width: 100%;
  padding: 0.53333333rem;
}
.warp_creat .activity_intr .intr_list .intr_li {
  width: 100%;
  margin-bottom: 0.53333333rem;
  border-bottom: 0.02666667rem solid #dddddd;
}
.warp_creat .activity_intr .intr_list .intr_li .line_sp {
  width: 0.05333333rem;
  height: 0.34666667rem;
  margin-top: 0.16rem;
  background-color: #FF530B;
}
.warp_creat .activity_intr .intr_list .intr_li .title_h {
  font-size: 0.4rem;
  color: #333;
  padding-left: 0.16rem;
  line-height: 0.66666667rem;
}
.warp_creat .activity_intr .intr_list .intr_li .intr_text {
  padding-left: 0.21333333rem;
}
.warp_creat .activity_intr .intr_list .intr_li .intr_text p {
  font-size: 0.34666667rem;
  line-height: 0.6rem;
  color: #666;
  padding: 0.26666667rem 0 0.26666667rem;
}
.warp_creat .activity_intr .intr_list .intr_nobor {
  border-bottom: none;
  margin-bottom: 0.26666667rem;
}
.warp_creat .activity_intr .intr_list .intr_nobor .intr_text p {
  padding: 0.4rem 0 0;
  border-bottom: none;
}
.warp_creat .activity_intr .more_content .cont_region {
  width: 100%;
  padding: 0.53333333rem 0.4rem 1.97333333rem;
  background-color: #fff;
}
.warp_creat .activity_intr .more_content .cont_region .region_tit {
  font-size: 0.42666667rem;
  line-height: 0.66666667rem;
  color: #333;
}
.warp_creat .activity_intr .more_content .cont_region .region_ul {
  width: 100%;
  padding-top: 0.53333333rem;
}
.warp_creat .activity_intr .more_content .cont_region .region_ul li {
  float: left;
  width: 50%;
}
.warp_creat .activity_intr .more_content .cont_region .region_ul li .region_img {
  display: block;
  width: 2.18666667rem;
  height: 2.18666667rem;
  margin: 0 auto;
}
.warp_creat .activity_intr .more_content .cont_region .region_ul li .region_txt {
  text-align: center;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  color: #333;
  padding-top: 0.4rem;
}
.warp_creat .activity_intr .buy_btn {
  display: none;
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 999999;
  bottom: 0;
  height: 1.44rem;
  background-color: #FF4539;
}
.warp_creat .activity_intr .buy_btn .buy {
  display: block;
  width: 100%;
  height: 1.44rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
  font-weight: 800;
  line-height: 1.44rem;
}
.warp_creat .activity_intr .buyFree_btn {
  display: none;
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 999999;
  bottom: 0;
  height: 1.44rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul {
  width: 100%;
  height: 100%;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul li {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul .buy_li {
  padding: 0.45333333rem 0;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul .buy_li .buy {
  display: block;
  color: #333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 0.02666667rem solid #999999;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul .free_li {
  padding: 0.16rem 0;
}
.warp_creat .activity_intr .buyFree_btn .buyFree_ul .free_li .free {
  display: block;
  width: 3.41333333rem;
  height: 1.12rem;
  margin: 0 auto;
  color: #fff;
  line-height: 1.12rem;
  font-size: 0.37333333rem;
  font-weight: 800;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  background-color: #FF4539;
}
@-webkit-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-moz-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-ms-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-o-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-moz-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-ms-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
